<div class="ProductLaunchModule">
    {{#with title}}
        <div class="ProductLaunchModule-title">{{this}}</div>
    {{/with}}

    {{#if description}}
        <div class="ProductLaunchModule-description">{{description}}</div>
    {{/if}}

    {{#with endDate}}
        <div class="ProductLaunchModule-endDate">{{this}}</div>
    {{/with}}
</div>



