.PromoImage {
    &-media {
        margin: 0px;

        // &[data-alignment='top'] {
        // }

        &[data-alignment='right'] {
            float: right;
        }

        // &[data-alignment='bottom'] {
        // }

        // &[data-alignment='left'] {
        // }

        img {
            display: block;
        }

        picture {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
